body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 80%;
  background-color: #fff;
}

.help {
  letter-spacing: 2px;
  font-size: 15px;
}

.textcont {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.textrect {
  padding: 1rem 1rem;
  border: 0.4rem solid rgb(32, 32, 32);
  border-radius: 1rem;
  color: rgb(32, 32, 32);
  background: rgb(220, 220, 220);
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 0.1;
}

#code {
  font-size: 2rem;
}

#key {
  font-size: 4rem;
}

#keycode {
  font-size: 2rem;
}
